:root {
    --primary-color: #05B2DC; 
    --secondary-color: #3C5233;
    --font-color: #F2545B; 
    --background-color: #002642; 
}

header {
    background-color: var(--primary-color);
}

header nav {
    align-items: center;
    text-decoration: none;
    background-color: var(--background-color);
    padding: 1rem;
    justify-content: space-between;
    display: flex; 
    font-family: Montserrat;
}

body {
    width: 100%;
    padding: 0%;
    margin: 0%; 
}


.hero img {
    position: absolute;
    width: auto;
    height: auto;
    
}

.hero h1 {
    position: absolute;
    transform: translate(-50%, -20%);
    color: black;
    font-size: 2rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero article {
    position: absolute;
    background-color: rgb(255 255 255 0.8);
    padding: 15px;
    border-radius: 5px;
    max-width: 300px;
}

.hero article img {
    position: relative;
    float: right;
    display: block;
    width: 100px;
    height: auto
}

.hero article p {
    font-size: 1rem;
    color: black;
}

footer .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
  
footer .social img {
    width: 30px;
    height: 30px;
}

