:root {
    --heading-background-color: #002642; 
    --primary-color: #05B2DC;
    --secondary-color: #3C5233;
    --text-color: #333333;
    --background-color: #002642;
    --accent-color: #F2545B;
    --padding: 1rem;
    --border: 1px soild rgb(0 0 0 / 0.1);
    --heading-font: "Montserrat+Underline", IBM+Plex+Sans;
    
}  
h1 {
    background-color: var(--heading-background-color);
    font-family: var(--heading-font);
    padding: var(--padding);
}    
p {
    font: "IBM+Plex+Sans";
    color: var(--secondary-color);
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
nav.sociallinks a img {
    text-decoration: none;

}
a {
    text-decoration: none;
}
.hero img {
    display: black;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
}
article {
    position: absolute;
    background-color: var(--primary-color);
}
article img {
    float: right;
    margin: 15px; 
}
